openapi: 3.0.0
info:
  title: Disclosure Evaluator API
  description: 構造化マルチプロバイダー LLM 評価システム API
  version: 1.0.0
  contact:
    name: Disclosure Evaluator Team
    email: support@disclosure-evaluator.com
    url: https://disclosure-evaluator.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://disclosure-evaluator.com/terms

servers:
  - url: https://api.disclosure-evaluator.com/v1
    description: 本番環境
  - url: https://staging-api.disclosure-evaluator.com/v1
    description: ステージング環境
  - url: http://localhost:8000/v1
    description: ローカル開発環境

tags:
  - name: evaluation
    description: 評価機能
  - name: analysis
    description: 分析機能
  - name: report
    description: レポート機能
  - name: config
    description: 設定管理
  - name: health
    description: ヘルスチェック

paths:
  /health:
    get:
      tags:
        - health
      summary: ヘルスチェック
      description: システムの健全性を確認
      operationId: healthCheck
      responses:
        "200":
          description: システムは正常
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: システムに問題あり
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evaluation/single:
    post:
      tags:
        - evaluation
      summary: 単一評価の実行
      description: 単一のプロンプト・応答ペアを評価
      operationId: evaluateSingle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SingleEvaluationRequest"
      responses:
        "200":
          description: 評価完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleEvaluationResponse"
        "400":
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evaluation/batch:
    post:
      tags:
        - evaluation
      summary: バッチ評価の実行
      description: 複数のプロンプト・応答ペアを一括評価
      operationId: evaluateBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchEvaluationRequest"
      responses:
        "200":
          description: バッチ評価完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchEvaluationResponse"
        "400":
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evaluation/legal:
    post:
      tags:
        - evaluation
      summary: 情報公開法評価の実行
      description: 情報公開法第5条に基づく行政情報の評価
      operationId: evaluateLegal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LegalEvaluationRequest"
      responses:
        "200":
          description: 情報公開法評価完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEvaluationResponse"
        "400":
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /analysis/statistics:
    post:
      tags:
        - analysis
      summary: 統計分析の実行
      description: 評価結果の統計分析を実行
      operationId: analyzeStatistics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatisticsAnalysisRequest"
      responses:
        "200":
          description: 統計分析完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatisticsAnalysisResponse"
        "400":
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /analysis/compare:
    post:
      tags:
        - analysis
      summary: 比較分析の実行
      description: 評価結果の比較分析を実行
      operationId: analyzeCompare
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComparisonAnalysisRequest"
      responses:
        "200":
          description: 比較分析完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComparisonAnalysisResponse"
        "400":
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /report/generate:
    post:
      tags:
        - report
      summary: レポート生成
      description: 評価結果からレポートを生成
      operationId: generateReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportGenerationRequest"
      responses:
        "200":
          description: レポート生成完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportGenerationResponse"
        "400":
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /config/providers:
    get:
      tags:
        - config
      summary: プロバイダー一覧取得
      description: 設定されたLLMプロバイダーの一覧を取得
      operationId: getProviders
      responses:
        "200":
          description: プロバイダー一覧
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderListResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      tags:
        - config
      summary: プロバイダー追加
      description: 新しいLLMプロバイダーを追加
      operationId: addProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderConfigRequest"
      responses:
        "201":
          description: プロバイダー追加完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderConfigResponse"
        "400":
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /config/providers/{provider_name}:
    get:
      tags:
        - config
      summary: プロバイダー詳細取得
      description: 指定されたプロバイダーの詳細情報を取得
      operationId: getProvider
      parameters:
        - name: provider_name
          in: path
          required: true
          schema:
            type: string
          description: プロバイダー名
      responses:
        "200":
          description: プロバイダー詳細
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderConfigResponse"
        "404":
          description: プロバイダーが見つからない
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      tags:
        - config
      summary: プロバイダー更新
      description: 指定されたプロバイダーの設定を更新
      operationId: updateProvider
      parameters:
        - name: provider_name
          in: path
          required: true
          schema:
            type: string
          description: プロバイダー名
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderConfigRequest"
      responses:
        "200":
          description: プロバイダー更新完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderConfigResponse"
        "400":
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: プロバイダーが見つからない
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - config
      summary: プロバイダー削除
      description: 指定されたプロバイダーを削除
      operationId: deleteProvider
      parameters:
        - name: provider_name
          in: path
          required: true
          schema:
            type: string
          description: プロバイダー名
      responses:
        "204":
          description: プロバイダー削除完了
        "404":
          description: プロバイダーが見つからない
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
          description: システムの状態
        timestamp:
          type: string
          format: date-time
          description: チェック日時
        version:
          type: string
          description: システムバージョン
        dependencies:
          type: object
          properties:
            database:
              type: string
              enum: [connected, disconnected]
            llm_providers:
              type: string
              enum: [available, unavailable]
          description: 依存関係の状態

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: エラーコード
        message:
          type: string
          description: エラーメッセージ
        details:
          type: object
          description: エラーの詳細情報
        timestamp:
          type: string
          format: date-time
          description: エラー発生日時
        request_id:
          type: string
          description: リクエストID

    SingleEvaluationRequest:
      type: object
      required:
        - prompt
        - response
      properties:
        prompt:
          type: string
          description: 評価対象のプロンプト
          example: "What is artificial intelligence?"
        response:
          type: string
          description: 評価対象の応答
          example: "Artificial intelligence is a branch of computer science..."
        provider:
          type: string
          description: 使用するLLMプロバイダー
          default: openai
          example: openai
        criteria:
          type: string
          description: 評価基準
          default: standard
          example: standard
        context:
          type: object
          description: 追加のコンテキスト情報
          additionalProperties: true

    SingleEvaluationResponse:
      type: object
      properties:
        evaluation_id:
          type: string
          description: 評価ID
          example: "eval_12345"
        overall_score:
          $ref: "#/components/schemas/Score"
        metric_scores:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Score"
          description: 評価指標別スコア
        evaluation_type:
          type: string
          description: 評価タイプ
          example: standard
        execution_time:
          type: number
          description: 実行時間（秒）
          example: 2.5
        created_at:
          type: string
          format: date-time
          description: 作成日時
        metadata:
          type: object
          description: 追加メタデータ
          additionalProperties: true

    BatchEvaluationRequest:
      type: object
      required:
        - evaluations
      properties:
        evaluations:
          type: array
          items:
            $ref: "#/components/schemas/SingleEvaluationRequest"
          description: 評価リクエストのリスト
        provider:
          type: string
          description: 使用するLLMプロバイダー
          default: openai
        criteria:
          type: string
          description: 評価基準
          default: standard
        parallel:
          type: integer
          description: 並列実行数
          default: 5
          minimum: 1
          maximum: 20
        timeout:
          type: integer
          description: タイムアウト時間（秒）
          default: 300
          minimum: 30
          maximum: 3600

    BatchEvaluationResponse:
      type: object
      properties:
        batch_id:
          type: string
          description: バッチID
          example: "batch_12345"
        results:
          type: array
          items:
            $ref: "#/components/schemas/SingleEvaluationResponse"
          description: 評価結果のリスト
        summary:
          type: object
          properties:
            total_count:
              type: integer
              description: 総評価数
            success_count:
              type: integer
              description: 成功数
            failure_count:
              type: integer
              description: 失敗数
            average_score:
              type: number
              description: 平均スコア
            execution_time:
              type: number
              description: 総実行時間（秒）
          description: バッチ評価のサマリー
        created_at:
          type: string
          format: date-time
          description: 作成日時

    LegalEvaluationRequest:
      type: object
      required:
        - information
      properties:
        information:
          type: string
          description: 評価対象の行政情報
          example: "申請者: 田中太郎, 住所: 東京都新宿区1-1-1"
        context:
          type: object
          description: 追加のコンテキスト情報
          additionalProperties: true
        provider:
          type: string
          description: 使用するLLMプロバイダー
          default: openai
        articles:
          type: array
          items:
            type: string
            enum: ["1", "2", "3", "4", "5", "6"]
          description: 評価する条文
          default: ["1", "2", "3", "4", "5", "6"]

    LegalEvaluationResponse:
      type: object
      properties:
        evaluation_id:
          type: string
          description: 評価ID
          example: "legal_eval_12345"
        disclosure_decision:
          type: string
          enum: [disclose, consider_disclosure, non_disclosure]
          description: 開示判断
        article_scores:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Score"
          description: 条文別スコア
        legal_reasoning:
          type: string
          description: 法的推論
        confidence_score:
          type: number
          description: 総合信頼度
          minimum: 0.0
          maximum: 1.0
        execution_time:
          type: number
          description: 実行時間（秒）
        created_at:
          type: string
          format: date-time
          description: 作成日時

    Score:
      type: object
      required:
        - value
        - confidence
        - reasoning
      properties:
        value:
          type: number
          description: 1-5スケールのスコア
          minimum: 1.0
          maximum: 5.0
          example: 4.2
        confidence:
          type: number
          description: 0.0-1.0の信頼度
          minimum: 0.0
          maximum: 1.0
          example: 0.85
        reasoning:
          type: string
          description: 評価理由
          example: "包括的で正確な回答"
        metadata:
          type: object
          description: 追加メタデータ
          additionalProperties: true

    StatisticsAnalysisRequest:
      type: object
      required:
        - input_dir
      properties:
        input_dir:
          type: string
          description: 評価結果ディレクトリ
        metrics:
          type: array
          items:
            type: string
          description: 分析する評価指標
        provider:
          type: string
          description: 特定プロバイダーの結果のみ
        time_range:
          type: string
          description: 時間範囲
          example: "2024-01-01:2024-12-31"
        include_visualizations:
          type: boolean
          description: 可視化を含める
          default: false

    StatisticsAnalysisResponse:
      type: object
      properties:
        analysis_id:
          type: string
          description: 分析ID
        summary:
          type: object
          properties:
            total_evaluations:
              type: integer
              description: 総評価数
            average_score:
              type: number
              description: 平均スコア
            score_distribution:
              type: object
              description: スコア分布
            metric_performance:
              type: object
              description: 評価指標別パフォーマンス
          description: 統計サマリー
        visualizations:
          type: object
          description: 可視化データ
        created_at:
          type: string
          format: date-time
          description: 作成日時

    ComparisonAnalysisRequest:
      type: object
      required:
        - baseline_dir
        - comparison_dir
      properties:
        baseline_dir:
          type: string
          description: ベースライン評価結果ディレクトリ
        comparison_dir:
          type: string
          description: 比較対象評価結果ディレクトリ
        metrics:
          type: array
          items:
            type: string
          description: 比較する評価指標

    ComparisonAnalysisResponse:
      type: object
      properties:
        comparison_id:
          type: string
          description: 比較分析ID
        summary:
          type: object
          properties:
            baseline_summary:
              type: object
              description: ベースラインサマリー
            comparison_summary:
              type: object
              description: 比較対象サマリー
            differences:
              type: object
              description: 差異の詳細
          description: 比較サマリー
        created_at:
          type: string
          format: date-time
          description: 作成日時

    ReportGenerationRequest:
      type: object
      required:
        - input_dir
      properties:
        input_dir:
          type: string
          description: 評価結果ディレクトリ
        template:
          type: string
          description: レポートテンプレート
          default: standard
        format:
          type: string
          enum: [html, pdf, markdown]
          description: 出力形式
          default: html
        include_charts:
          type: boolean
          description: チャートを含める
          default: true
        include_details:
          type: boolean
          description: 詳細情報を含める
          default: true
        time_range:
          type: string
          description: 時間範囲

    ReportGenerationResponse:
      type: object
      properties:
        report_id:
          type: string
          description: レポートID
        report_url:
          type: string
          description: レポートURL
        format:
          type: string
          description: 出力形式
        file_size:
          type: integer
          description: ファイルサイズ（バイト）
        created_at:
          type: string
          format: date-time
          description: 作成日時

    ProviderListResponse:
      type: object
      properties:
        providers:
          type: array
          items:
            $ref: "#/components/schemas/ProviderConfigResponse"
          description: プロバイダー一覧

    ProviderConfigRequest:
      type: object
      required:
        - name
        - provider_type
        - model
      properties:
        name:
          type: string
          description: プロバイダー名
          example: openai
        provider_type:
          type: string
          enum: [openai, anthropic, bedrock, gemini, ollama]
          description: プロバイダータイプ
        api_key:
          type: string
          description: APIキー
        model:
          type: string
          description: モデル名
          example: gpt-4
        base_url:
          type: string
          description: ベースURL
        timeout:
          type: integer
          description: タイムアウト時間（秒）
          default: 30
        max_tokens:
          type: integer
          description: 最大トークン数
          default: 4000
        temperature:
          type: number
          description: 温度パラメータ
          default: 0.1
        additional_params:
          type: object
          description: 追加パラメータ
          additionalProperties: true

    ProviderConfigResponse:
      type: object
      properties:
        name:
          type: string
          description: プロバイダー名
        provider_type:
          type: string
          description: プロバイダータイプ
        model:
          type: string
          description: モデル名
        base_url:
          type: string
          description: ベースURL
        timeout:
          type: integer
          description: タイムアウト時間（秒）
        max_tokens:
          type: integer
          description: 最大トークン数
        temperature:
          type: number
          description: 温度パラメータ
        additional_params:
          type: object
          description: 追加パラメータ
          additionalProperties: true
        created_at:
          type: string
          format: date-time
          description: 作成日時
        updated_at:
          type: string
          format: date-time
          description: 最終更新日時

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: APIキー認証

security:
  - ApiKeyAuth: []

externalDocs:
  description: Disclosure Evaluator ドキュメント
  url: https://docs.disclosure-evaluator.com
